{% extends "layout.html" %}
 
{% block content %}
  <h2>Change Your Password</h2>

  
  {% for message in form.newpassword.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  {% for message in form.currentpass.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  

   
  <form action="{{ url_for('changepassword') }}" method=post>
{{ form.hidden_tag() }}


{{ form.currentpass.label }}
{{ form.currentpass }}

{{ form.newpassword.label }}
{{ form.newpassword }}
     
{{ form.submit }}
  </form>
  
     
{% endblock %}